:root{
    --margin: 60px;
    --h2-size: 28px;
}

header{
    padding: 40px;
}

#highlights{
    margin-bottom: 200px;
}

#movies{

}

#graphs{

}

footer{

}


#highlights h2{
    font-size: var(--h2-size);
}

