main{
    width: 90%;
}
.movie-detail-container {
    display: flex;
    margin-left: 120px;
}

.movie-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 24px;
}

.movie-detail img {
    max-width: 100%;
    border-radius: 8px;
    transition: 0.2s ease;

}

.movie-info {
    max-width: 500px;
    margin-top: 20px;
}