

.login-popup {
  height: 100vh;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#text a {
  text-decoration: none ;
  color: black;
}

.login-popup h2{
    font-size: 64px;
}

.login-popup div:nth-of-type(3) input{
    padding: 10px;
    width: 80%;
}   

#login-in-btn{
    position: absolute;
    bottom: 10px;
    left: 160px;
}

#submit-register{
}

