.titles a{
    text-decoration: none;
    color: black;
}


#favorites-movies-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 120px;
}

#favorited-movies{
    display: flex;
    gap: 30px;
}

#favorited-movies img {
    width: 220px;
}