main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#favorites-movies-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgba(255, 249, 249, 0.932);
    padding: 80px;
    width: 85%;
    border-radius: 10px;
    transition: 1s ease;
}

#favorites-movies-container:hover{
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.199);
    transform: scale(1.01);
}

.favorited-title{
    color: rgb(0, 0, 0);
    transition: 1s ease;
}


#favorited-movies{
    display: flex;
    gap: 30px;
}

#favorited-movies img {
    width: 220px;
    transition: 0.3s ease;
    border-radius: 6px;
}

#favorited-movies img:hover {
    transform: scale(1.05);
}


#saved-movies-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgba(255, 249, 249, 0.932);
    padding: 80px;
    width: 85%;
    border-radius: 10px;
    transition: 1s ease;
    margin-top: 90px;
    
}
.saved-title{
    color: rgb(0, 0, 0);
    transition: 1s ease;
}
#saved-movies-container:hover{
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.199);
    transform: scale(1.01);
}
#saved-movies{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}
#saved-movies img {
    width: 220px;
    transition: 0.3s ease;
    border-radius: 6px;
}
#saved-movies img:hover {
    transform: scale(1.05);
}

#saved-movies-container .save-flag-icon{
    width: 50px;
    height: 50px;
}

